<template>
    <div class="attachments">
        <i class="fa fa-cloud-upload upload"
           @click="changeFormVisibility"
           aria-hidden="true"
        ></i>
        <div v-show="showForm"
             class="attachments-form-container"
             :style="attachmentsContainerStyle">
            <div class="close-attachments-wrapper">
                <span aria-hidden="true"
                      @click="changeFormVisibility"
                      class="close-attachments">&times;</span>
            </div>
            <div class="attachments-form">
                <VueFileAgent
                    ref="fileAgent"
                    :upload-headers="this.requestConfig.headers"
                    v-model="allFileRecords"
                    :deletable="true"
                    :maxFiles="1"
                    @beforedelete="fileDeleting($event)"
                    @select="filesSelected($event)"/>
            </div>
        </div>
    </div>
</template>

<script>

import RequestMixin from "../RequestMixin";

export default {
    mixins: [RequestMixin],

    data() {
        return {
            csrfToken: this.apiCsrfToken,
            allFileRecords: [],
            showForm: false,
            fileRecordsForUpload: [],
            uploadedFileNames: [],
        };
    },

    methods: {
        changeFormVisibility() {
            this.showForm = !this.showForm;

            if (this.showForm) {
                this.$emit('openAttachment');
            }
        },

        hide() {
            this.showForm = false;
        },

        clearData: function() {
            this.allFileRecords = [];
            this.fileRecordsForUpload = [];
            this.uploadedFileNames = [];
            this.showForm = false;
        },

        fileDeleting: function(fileRecord) {
            this.getSavedFilenames(fileRecord).forEach((element) => {
                this.makeRequest(this.deleteUrl, {fileName: element.storedName});
            });
            this.clearFiles(fileRecord);
        },

        getSavedFilenames(fileRecord) {
            return this.uploadedFileNames.filter(element => element.originalName === fileRecord.file.name);
        },

        clearFiles(fileRecord) {
            this.allFileRecords = this.allFileRecords.filter(element => element.file.name !== fileRecord.file.name);
            this.uploadedFileNames = this.uploadedFileNames.filter(element => element.originalName !== fileRecord.file.name);
        },

        uploadFiles: function () {
            this.$refs.fileAgent.upload(this.uploadUrl, this.requestConfig.headers, this.fileRecordsForUpload)
                .then((response) => {
                    if (response && response[0] && response[0].data && response[0].data.list) {
                        this.uploadedFileNames = [...response[0].data.list, ...this.uploadedFileNames];
                    }

                    this.fileRecordsForUpload = [];
                });
        },

        filesSelected: function (fileRecordsNewlySelected) {
            this.fileRecordsForUpload = this.fileRecordsForUpload.concat(
                fileRecordsNewlySelected.filter((fileRecord) => !fileRecord.error)
            );
            this.uploadFiles();
        },
    },

    props: {
        apiCsrfToken: '',
        uploadUrl: '',
        deleteUrl: '',
        attachmentsContainerStyle: '',
    },
}

</script>

<style scoped>

.close-attachments-wrapper {
    height: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    outline: 1px solid white;
}

.close-attachments {
    color: white;
    padding: 5px;
}

.close-attachments:hover {
    cursor: pointer;
}

.attachments {
    display: flex;
    justify-content: center;
    align-items: center;
}

.attachments-form-container {
    position: absolute;
    display: block;
    overflow: hidden;
    top: 0;
    left:0;
    right:0;
    bottom: 20%;
    background-color: #2A3042;
}

.attachments-form {
    display: flex;
    width: 100%;
    height: 90%;
    justify-content: center;
    align-items: center;
}

.upload {
    color: #2A3042;
    font-size: 2em!important;
}

.upload:hover {
    cursor: pointer;
    color: #556ee6;
}

</style>
