<template>
    <form ref="chatForm" method="post" class="w-100 h-100 overflow-auto">
        <div class="w-100 h-100 main-container">
            <div ref="messagesContainer"
                 class="messages-container"
                 @scroll="scrollMessages">
                <div class="w-100" v-if="toggleDateFiltering" v-for="filtered of chatData.filteredMessages">
                    <span class="message-group-date">
                        <span class="date">
                            {{filtered.date}}
                        </span>
                        <hr/>
                    </span>
                    <message v-for="message of filtered.messages"
                             :key="message.id"
                             @delete="messageOnDelete"
                             :attachments="message.attachments"
                             :delete-message="message.deleteMessage"
                             :message="message.message"
                             :parent-message="message.parentMessage"
                             :message-id="message.id"
                             :active-user-id="activeUserId"
                             :user="message.user"
                             :created-at="message.created_at"/>
                </div>
                <div class="w-100" v-if="!toggleDateFiltering">
                    <message v-if="!toggleDateFiltering" v-for="message of chatData.messages"
                             :key="message.id"
                             @delete="messageOnDelete"
                             :attachments="message.attachments"
                             :delete-message="message.deleteMessage"
                             :message="message.message"
                             :parent-message="message.parentMessage"
                             :message-id="message.id"
                             :active-user-id="activeUserId"
                             :user="message.user"
                             :created-at="message.created_at"/>
                </div>
                <div ref="loader" class="w-100 loader">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">{{this.getTranslation('Loading')}}...</span>
                    </div>
                </div>
            </div>
            <div class="chat-footer" v-bind:class="{
                'emoji-footer': toggleEmoji && !toggleAttachments,
                'attachments-footer': !toggleEmoji && toggleAttachments,
                'common-footer': toggleEmoji && toggleAttachments,
            }">
                <div class="message-input-wrapper">
                    <div class="message-input-container">
                        <div class="user-mention-container" v-show="toggleMentioning && this.mentionUsers.length">
                            <div class="header-mention">
                                <span>Mention User</span>
                                <span aria-hidden="true"
                                      @click="clearMentionUsers"
                                      class="close-mention">&times;</span>
                            </div>
                            <div class="footer-mention">
                                <div v-for="user of this.mentionUsers" class="w-100">
                                    <div class="user-mention"
                                         @click="mentionUserClick">
                                        {{ user.username }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="replaying-message" v-if="'id' in this.chatData.replyMessage">
                            <div class="alert-success text-container">
                                <div class="text">
                                    <u>{{this.getTranslation('Replying Message')}}:</u>
                                    <i><span v-html="this.chatData.replyMessage.message"></span></i>
                                </div>
                            </div>
                            <div class="close-replaying-container alert-success">
                            <span aria-hidden="true"
                                  class="close-replaying"
                                  @click="closeReplayingMessage">&times;</span>
                            </div>
                        </div>
                        <textarea class="form-control"
                                  v-bind:class="{'chat-input': toggleEmoji}"
                                  cols="3"
                                  v-model="messagesInput"
                                  @input="mentionOnKeyDown"
                                  @focusout="messagesInputFocusOut"
                                  ref="messagesInput"
                                  :placeholder="`${this.getTranslation('Enter Message')}...`">
                        </textarea>
                        <div class="w-100">
                            <error ref="error" v-if="errorsData.show"
                                   :errors-data="errorsData.errors"
                                   :message="errorsData.message"/>
                        </div>
                    </div>
                </div>
                <div class="emoji-container" v-show="toggleEmoji">
                    <i class="fa fa-smile-o smile" ref="smileButton" @click="smileOnClick($event, 'block')"></i>
                    <VEmojiPicker class="emoji d-none" ref="emoji" @select="emojiOnSelect"></VEmojiPicker>
                </div>
                <div class="attachments-container" v-show="toggleAttachments">
                    <attachments ref="attachments"
                                 @openAttachment="throwCloseItemsEvent(closeItems.attachments)"
                                 :api-csrf-token="apiCsrfToken"
                                 :delete-url="deleteFilesAction"
                                 :upload-url="saveFilesAction" />
                </div>
                <div class="send-button-container">
                    <button class="btn btn-primary" @click="sendMessage" :title="this.getTranslation('Send Message')">
                        <i class="fa fa-paper-plane"></i>
                    </button>
                </div>
            </div>
        </div>
    </form>
</template>

<script>

import Message from "./Message";
import Error from "./Error";
import EmojiMixin from './EmojiMixin';
import MentioningMixin from './MentioningMixin';
import RequestMixin from '../RequestMixin';
import Attachments from "./Attachments";
import TranslationMixin from "../TranslationMixin";
import CloseDataMixin from "./CloseDataMixin";

export default {
    mixins: [
        RequestMixin,
        EmojiMixin,
        MentioningMixin,
        TranslationMixin,
        CloseDataMixin,
    ],

    components: {
        message: Message,
        error: Error,
        attachments: Attachments,
    },

    data() {
        return {
            chatId: this.id,
            csrfToken: this.apiCsrfToken,
            toggleEmoji: this.activateEmoji,
            toggleAttachments: this.activateAttachments,
            toggleMentioning: this.activateMentioning,
            toggleDateFiltering: this.activateDateFiltering,
            messageSelector: '.message',
            messageWrapperSelector: '#message-',
            messageBodySelector: '.message-body',
            chatData: {
                body: '',
                allMessagesLoaded: false,
                messages: [],
                filteredMessages: [],
                smoothLoading: true,
                lastMessage: {},
                replyMessage: {},
            },
            apiRoutes: {
                sendMessage: '/admin/chat/message/create/',
                getMessages: '/admin/chat/message/index/',
                saveFiles: '/admin/chat/files/',
                deleteFiles: '/admin/chat/files/delete/',
            },
            chatChannel: {
                name: 'chat.',
                events: [
                    {
                        name: 'message.create',
                        callback: this.messageCreateHandler,
                    },
                    {
                        name: 'message.update',
                        callback: this.messageUpdateHandler,
                    },
                    {
                        name: 'message.delete',
                        callback: this.messageDeleteHandler,
                    },
                ],
            },
        };
    },

    watch: {
        messagesInput: function(value) {
            if (!value.trim().length) {
                return;
            }

            this.chatData.body = this.wrapMentioning(this.wrapEmoji(value));
        },

        'chatData.body': function(value) {
            if (value.trim().length) {
                return;
            }

            this.messagesInput = '';
        },

        'chatData.messages': function(messages) {
            if (!this.toggleDateFiltering) {
                return;
            }

            let filtered = [];

            this.chatData.filteredMessages = [];

            for (let message of messages) {
                if (Object.keys(filtered).includes(message.formatted_created_at)) {
                    filtered[message.formatted_created_at].push(message);
                } else {
                    filtered[message.formatted_created_at] = [message];
                }
            }

            for (let date in filtered) {
                this.chatData.filteredMessages.push({
                    date: date,
                    messages: filtered[date],
                });
            }
        },
    },

    computed: {
        sendMessageAction: function() {
            return this.apiRoutes.sendMessage + this.chatId;
        },

        getMessagesAction: function() {
            return this.apiRoutes.getMessages + this.chatId;
        },

        channelName: function() {
            return this.chatChannel.name + this.chatId;
        },

        saveFilesAction: function() {
            return this.apiRoutes.saveFiles + this.chatId;
        },

        deleteFilesAction: function() {
            return this.apiRoutes.deleteFiles + this.chatId;
        },

        sendData: function() {
            let fileNames = this.$refs.attachments
                ? this.$refs.attachments.uploadedFileNames || []
                : [],
                data = {
                        body: this.chatData.body,
                        replyMessage: this.chatData.replyMessage,
                };

            if (fileNames.length) {
                data.fileNames = fileNames.map(name => name.storedName);
            }

            return data;
        },
    },

    props: {
        id: '',
        activeUserId: '',
        activateEmoji: false,
        activateMentioning: false,
        activateDateFiltering: false,
        activateAttachments: false,
        apiCsrfToken: '',
    },

    mounted() {
        this.getTranslations().then(() => {
            this.subscribeOnChannel();
            this.onChatOpen();
            this.messageOnReply();
            this.onModalClose();
            this.closeInternalModalsOnEvent();
        });
    },

    methods: {
        closeInternalModalsOnEvent() {
            this.subscribeCloseItemsEvent((element) => {
                if (element === this.closeItems.attachments) {
                    this.hideElement(this.$refs.emoji.$el, 'block');
                    this.clearMentionUsers();
                }
            });
            this.subscribeCloseItemsEvent((element) => {
                if (element === this.closeItems.smiles) {
                    this.clearMentionUsers();
                    this.closeAttachments();
                }
            });
            this.subscribeCloseItemsEvent((element) => {
                if (element === this.closeItems.userMention) {
                    this.hideElement(this.$refs.emoji.$el, 'block');
                    this.closeAttachments();
                }
            });
        },

        closeReplayingMessage() {
            this.chatData.replyMessage = {};
        },

        messageOnDelete(messageId) {
            if ('id' in this.chatData.replyMessage
                && parseInt(this.chatData.replyMessage.id) === parseInt(messageId)) {
                this.closeReplayingMessage();
            }
        },

        messageOnReply() {
            this.$eventBus.$on('replayMessage', (replayMessage) => {
                if (!this.$refs.messagesContainer.querySelector(this.messageWrapperSelector  + replayMessage.id)) {
                    return;
                }

                this.chatData.replyMessage = replayMessage;
            });
        },

        changeUnreadMessagesNotification() {
            this.$eventBus.$emit('unreadMessagesRecount');
        },

        onModalClose() {
            window.addEventListener('beforeunload', function() {
                sessionStorage.setItem('activeChat', '');
            });
            this.$parent.$on('modalClose', () => {
                sessionStorage.setItem('activeChat', '');
            });
        },

        onChatOpen() {
            this.$parent.$on('chatOpen', () => {
                this.clearChatData();
                this.$nextTick(() => {
                    this.setActiveChat();
                    this.loadMessages(0);
                });
            });
        },

        clearChatData() {
            this.chatData.replyMessage = {};
            this.chatData.lastMessage = {};
            this.chatData.allMessagesLoaded = false;
            this.chatData.smoothLoading = true;
        },

        scrollToLastMessage() {
            if (!'id' in this.chatData.lastMessage) {
                return;
            }

            let message = document.querySelector(this.messageWrapperSelector + this.chatData.lastMessage.id);

            if (!message) {
                return;
            }

            this.chatData.lastMessage = {};

            if (this.chatData.smoothLoading) {
                message.scrollIntoView({behavior: 'smooth'});
            } else {
                message.scrollIntoView();
            }
        },

        setActiveChat() {
            this.$eventBus.$emit('closeNotActiveChat', this.chatId);
            this.$nextTick(() => {
                sessionStorage.setItem('activeChat', this.chatId);
            });
        },

        loading(on = true) {
            if (on) {
                this.$refs.messagesContainer.classList.add('overflow-hidden');
                this.$refs.loader.classList.add('loading');

                return;
            }

            this.$refs.messagesContainer.classList.remove('overflow-hidden');
            this.$refs.loader.classList.remove('loading');
        },

        scrollMessages(e) {
            if (e.target.scrollTop !== 0) {
                return;
            }

            if (this.chatData.allMessagesLoaded) {
                return;
            }

            this.chatData.smoothLoading = false;
            this.loadMessages();
        },

        loadMessages(offset = null) {
            this.loading();

            this.makeRequest(this.getMessagesAction, {offset: offset === null ? this.chatData.messages.length : offset}, 'POST',  (response) => {
                if (!response || !response.data || !response.data.messages) {
                    return;
                }

                this.appendLoadedMessages(response.data.messages);
                this.changeUnreadMessagesNotification();
            });
        },

        clearAttachments() {
            if (!this.$refs.attachments) {
                return;
            }

            this.$refs.attachments.clearData();
        },

        closeAttachments() {
            if (!this.$refs.attachments) {
                return;
            }

            this.$refs.attachments.hide();
        },

        sendMessage(e) {
            e.preventDefault();
            e.stopImmediatePropagation();

            this.hideElement(this.$refs.emoji.$el, 'block');
            this.makeRequest(this.sendMessageAction, this.sendData, 'POST',() => {
                this.chatData.body = '';
                this.chatData.replyMessage = {};
                this.clearAttachments();
            });
        },

        messageCreateHandler(data) {
            this.chatData.lastMessage = data.result;
            this.chatData.smoothLoading = true;
            this.attachMessage(data.result, false);
            this.$nextTick(function () {
                this.scrollToLastMessage();
            });
        },

        messageUpdateHandler(data) {
            this.updateMessage(data.result);
        },

        messageDeleteHandler(data) {
            this.deleteMessage(data.result);
        },

        deleteMessage(message) {
            let wrapper = this.$refs.messagesContainer
                .querySelector(this.messageWrapperSelector + message.id);

            if (wrapper) {
                wrapper.remove();
            }

        },

        updateMessage(message) {
            let wrapper = this.$refs.messagesContainer
                .querySelector(this.messageWrapperSelector + message.id);

            if (wrapper) {
                let body = wrapper.querySelector(this.messageBodySelector);

                if (body) {
                    body.innerHTML = message.message;
                }
            }
        },

        appendLoadedMessages(messages) {
            if (!messages.length) {
                this.chatData.allMessagesLoaded = true;
                this.loading(false);

                return;
            }

            this.loading();

            for (let [index, message] of messages.entries()) {
                this.attachMessage(message);

                if (index === 0) {
                    this.chatData.lastMessage = message;

                    this.$nextTick(function () {
                        this.scrollToLastMessage();
                    });
                }
            }

            this.loading(false);
        },

        attachMessage(message = {}, prepend = true) {
            if (!'id' in message) {
                return;
            }

            if (this.chatData.messages.some((element) => element.id === message.id)) {
                return;
            }

            if (prepend) {
                this.chatData.messages.unshift(message);
            } else {
                this.chatData.messages.push(message);
            }
        },

        subscribeOnChannel() {
            let channel = this.$pusher.channel(this.channelName);

            if (!channel) {
                channel = this.$pusher.subscribe(this.channelName);
            }

            for (let event of this.chatChannel.events) {
                channel.bind(event.name, data => event.callback(data));
            }
        },
    },
}

</script>

<style scoped>

.message-group-date {
    width: 100%;
    text-align: center;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 30px 0 30px 0;
}

.message-group-date hr {
    color: #2A3042;
    width: 100%;
    display: block;
    float: left;
}

.message-group-date .date {
    position: absolute;
    display: block;
    float: left;
    height: 40px;
    border-radius: 20px;
    background-color: #2A3042;
    color: white;
    padding: 10px;
}

.replaying-message {
    width: 100%;
}

.replaying-message .text-container {
    width: 90%;
    height: 100%;
    display: block;
    float: left;
    overflow: hidden;
    padding: 10px;
    border-radius: 0.25rem 0 0 0.25rem;
}

.replaying-message .text {
    display: block;
    overflow: auto;
    max-height: 30px;
    padding-right: 30px;
    width: calc(100% + 30px);
}

.replaying-message .close-replaying-container {
    width: 10%;
    height: 100%;
    display: block;
    color: black;
    float: left;
    text-align: right;
}

.replaying-message .close-replaying-container .close-replaying {
    padding: 5px;
}

.replaying-message .close-replaying-container .close-replaying:hover {
    cursor: pointer;
}

.main-container {
    display: grid;
    grid-template-rows: calc(80% - 5px) 20%;
    overflow: hidden;
}

.messages-container {
    margin: 0;
    padding: 10px 30px 10px 10px;
    position: relative;
    width: calc(100% + 30px);
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.chat-footer {
    margin-top: 5px;
    display: grid;
    grid-template-columns: 80% 20%;
    align-items: center;
}

.chat-footer .message-input-wrapper {
    height: 100%;
    overflow: hidden;
    width: 100%;
}
.chat-footer .message-input-container {
    padding: 0 40px 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: auto;
    width: calc(100% + 30px);
}

.chat-footer .send-button-container {
    padding: 0 10px 0 10px;
    display: flex;
    justify-content: space-evenly;
}

.emoji-footer, .attachments-footer {
    grid-template-columns: 80% 10% 10%;
}

.common-footer {
    grid-template-columns: 70% 10% 10% 10%;
}

.smile {
    font-size: 2em!important;
    color: #2A3042;
}

.smile:hover {
    cursor: pointer;
    color: #556ee6;
}

.emoji {
    position: absolute;
    right: 0;
    bottom: 20%;
}

.chat-footer .emoji-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    display: none;
}

.loading {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex !important;
    align-items: center;
    justify-content: center;
    background-color: rgba(71%, 71%, 71%, 0.2)
}

.user-mention-container {
    position: absolute;
    left: 10px;
    bottom: calc(20% - 5px);
    display: block;
    width: 250px;
    max-width:250px;
    height: 150px;
    max-height: 150px;
    background-color: white;
    overflow: hidden;
    border: 1px solid #2a3042;
    color: white;
}

.user-mention-container .footer-mention {
    height: calc(70% - 10px);
    margin-top: 10px;
    overflow: auto;
    width: calc(100% + 30px);
    padding: 0 40px 10px 10px;
}

.user-mention-container .header-mention {
    height: 30%;
    width: 100%;
    padding: 10px;
    background-color: #2a3042;
}

.user-mention-container .user-mention {
    margin-bottom: 10px;
    padding:10px;
    border-radius: 0 20px 20px 0;
    background-color: #2a3042;
    height: 100%;
    width: 100%;
}

.user-mention-container .close-mention {
    display: block;
    padding: 5px;
    float: right;
    color: white;
}

.user-mention-container .user-mention:hover, .close-mention:hover {
    cursor: pointer;
}

@media screen and (max-width: 760px) {
    .emoji-footer, .attachments-footer {
        grid-template-columns: 70% 15% 15%;
    }

    .common-footer {
        grid-template-columns: 55% 15% 15% 15%;
    }
}

</style>
