<script>

import CloseDataMixin from "./CloseDataMixin";

export default {
    mixins: [CloseDataMixin],

    data: function() {
        return {
            messagesInput: '',
            selectionStart: 0,
            toggleEmoji: false,
        };
    },

    methods: {
        wrapEmoji(value) {
            return value.replace(
                /(\p{Emoji_Presentation}|\p{Extended_Pictographic})/gu,
                '<span class="emoji-font">$1</span>'
            );
        },

        smileOnClick(event, display = 'flex') {
            let emoji = this.$refs.emoji.$el;

            if (emoji.classList.contains('d-none')) {
                this.showElement(emoji, display);
            } else {
                this.hideElement(emoji, display);
            }

            this.throwCloseItemsEvent(this.closeItems.smiles);
        },

        showElement(element, display = 'flex') {
            element.classList.add(`d-${display}`);
            element.classList.remove(`d-none`);
        },

        hideElement(element, display = 'flex') {
            element.classList.add(`d-none`);
            element.classList.remove(`d-${display}`);
        },

        emojiOnSelect(emoji) {
            this.messagesInput = this.messagesInput.slice(0, this.selectionStart)
                + (emoji.data || '')
                + this.messagesInput.slice(this.selectionStart);
            this.selectionStart += emoji.data.length;
        },

        messagesInputFocusOut() {
            this.selectionStart = this.$refs.messagesInput.selectionStart;
        },
    },
}

</script>
