<template>
    <div :id="'message-' + messageId" ref="message" class="message-wrapper">
        <div class="message d-flex flex-column" v-bind:class="parseInt(user.id) === parseInt(activeUserId) ? 'pull-right my' : 'pull-left partner'">
            <div class="w-100 mb-2 message-header">
                <slot name="onlineStatus"></slot>
                <b class="ml-1 mr-2">{{ user.username }}</b>
                <span class="date">{{ createdAt }}</span>
                <slot name="actions"></slot>
            </div>
            <div class="message-body" ref="messageBody" v-html="message"></div>
            <div class="attachments-wrapper" v-if="attachments.length">
                <div class="attachments">
                    <div class="text-right">
                        <a class="attachment" v-for="attachment of attachments" v-bind:href="attachment.action">{{attachment.name}}</a>
                    </div>
                </div>
            </div>
            <div class="reply-message" v-show="parentMessage.length"><span v-html="parentMessage" class="text"></span></div>
            <slot name="footer"></slot>
        </div>
    </div>
</template>

<script>

export default {
    props: {
        messageId: '',
        parentMessage: '',
        message: '',
        deleteMessage: '',
        activeUserId: '',
        user: {},
        createdAt: '',
        attachments: {},
    },
}

</script>

<style scoped>

.message-wrapper {
    width: 100%;
    display: flow-root;
}

.message {
    padding: 8px 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    color: white;
    max-width: 80%;
}

.my {
    border-radius: 20px 0 0 20px;
    background-color: #556ee6;
    text-align: right;
}

.partner {
    border-radius: 0 20px 20px 0;
    background-color: #2a3042;
    text-align: left;
}

.date {
    font-size: 8pt;
}

.message-header {
    word-break: break-all;
    white-space: pre-line;
}

.reply-message, .message-body {
    width: 100%;
    word-break: break-all;
    white-space: pre-wrap;
}

.reply-message {
    text-align: left;
    border-top: 1px solid white;
    padding: 10px;
    margin-top: 10px;
}

.reply-message .text:before {
    content: '| ';
}

.attachments-wrapper {
    width: 100%;
    display: block;
    max-height: 50px;
    overflow: hidden;
    margin: 10px 0 0 0;
    border-top: 1px solid white;
}

.attachments {
    width: calc(100% + 30px);
    overflow: auto;
    display: block;
    padding: 0 30px 0 0;
    max-height: 50px;
}

a.attachment {
    text-align: right;
    padding: 10px;
    text-decoration: underline;
    color: white;
}

a.attachment:hover {
    color: #2A3042;
}

</style>
