<template>
    <div class="d-flex justify-content-center align-items-center">
        <button type="button" class="btn header-item waves-effect" id="page-header-notifications-dropdown"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-bell"></i>
            <span class="badge badge-danger badge-pill" v-show="!!mentionNotifications.length">{{ mentionNotifications.length }}</span>
        </button>
        <div class="toggle">
            <input class="button"
                   type="checkbox"
                   :checked="soundNotificationsEnabled"
                   @change="toggleSoundNotifications"
                   :title="this.getTranslation('Receive audio notifications')">
        </div>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right p-0 overflow-hidden" aria-labelledby="page-header-notifications-dropdown">
            <slot></slot>
            <div v-show="mentionNotifications.length" class="mention-container">
                <div class="mb-2 mt-2">
                    <span class="btn btn-danger"
                          @click="readAllNotifications">
                        {{this.getTranslation('Read All Notifications')}}
                    </span>
                </div>
                <div v-for="(notification, index) of mentionNotifications"
                     class="mt-2"
                     v-bind:key="index">
                    <button class="btn btn-primary d-block"
                            @click="mentionNotificationClick($event, notification)">
                        {{notification.label}}
                    </button>
                </div>
            </div>
        </div>
        <div class="d-none">
            <audio id="sound" ref="sound" controls="controls" muted="muted">
                <source :src="apiRoutes.sound" type="audio/mpeg">
            </audio>
        </div>
    </div>
</template>
<script>

import TranslationMixin from "./TranslationMixin";

export default {
    mixins: [TranslationMixin],

    data() {
        return {
            soundNotificationsEnabled: true,
            apiRoutes: {
                sound: '/sounds/notification.mp3',
                getMentionsList: '/admin/user/mentions/list/',
                readAllMessages: '/admin/chat/message/read/all',
                readAllMentions: '/admin/user/mentions/list/readAll',

            },
            chatChannel: {
                name: 'chat.',
                events: [
                    {
                        name: 'message.create',
                        callback: this.messageCreateHandler,
                    },
                    {
                        name: 'user.mentioning',
                        callback: this.userMentioningHandler,
                    },
                ],
            },
            chatButtonSelector: 'chat-',
            mentionNotifications: [],
        }
    },

    props: {
        activeUserId: String,
        chats: String,
        apiCsrfToken: String,
    },

    mounted() {
        this.getTranslations().then(() => {
            this.initSoundNotificationsButton();
            this.subscribeChats();
            this.unreadMessagesCount();
            this.unreadMessagesRecountListener();
        });
    },

    methods: {
        initSoundNotificationsButton() {
            this.soundNotificationsEnabled = eval(sessionStorage.getItem('enableSoundNotifications'));
        },

        playSoundNotification() {
            if (this.soundNotificationsEnabled) {
                this.$refs.sound.removeAttribute('muted');
                this.$refs.sound.play().catch(e => {});
            }
        },

        toggleSoundNotifications() {
            this.soundNotificationsEnabled = !this.soundNotificationsEnabled;
            sessionStorage.setItem('enableSoundNotifications', this.soundNotificationsEnabled);
        },

        mentionNotificationClick(e, notification) {
            e.preventDefault();
            e.stopImmediatePropagation();

            let button = this.getChatButton(notification);

            if (!button) {
                return;
            }

            this.mentionNotifications = this.mentionNotifications
                .filter(object => object.message.id !== notification.message.id);
            document.body.click();
            button.click();
        },

        messageCreateHandler({result = null} = {}) {
            if (!result || parseInt(result.user.id) === parseInt(this.activeUserId)
                || parseInt(sessionStorage.getItem('activeChat')) === parseInt(result.chat.id)) {
                this.readAllMessagesByChat(result.chat.id);
            } else {
                this.makeChatButtonUnread(result);
            }
        },

        userMentioningHandler({result = null} = {}) {
            if (!result
                || parseInt(sessionStorage.getItem('activeChat')) === parseInt(result.chat.id)
                || parseInt(result.mentioned_user.id) !== parseInt(this.activeUserId)) {
                return;
            }

            this.playSoundNotification();
            this.mentionNotifications.push(result);
        },

        readAllNotifications() {
            this.readAllMentions();
            document.body.click();
        },

        unreadMessagesRecountListener() {
            this.$eventBus.$on('unreadMessagesRecount', this.unreadMessagesCount);
        },

        unreadMessagesCount() {
            this.makeRequest(this.apiRoutes.getMentionsList, {}, 'GET', (response) => {
                this.mentionNotifications = response.data.list;
            });
        },

        getMentionChats() {
            return this.mentionNotifications.map(notification => notification.chat.id);
        },

        readAllMentions() {
            this.getMentionChats().forEach((chat) => {
                this.makeRequest(this.apiRoutes.readAllMessages, {chat: chat}, 'POST', () => {
                    this.makeChatButtonRead({chat: {id: chat}});
                });
            });

            this.mentionNotifications = [];
        },

        readAllMessagesByChat(chat) {
            this.makeRequest(this.apiRoutes.readAllMessages, {chat: chat});
        },

        subscribeChats() {
            for (let chat of JSON.parse(this.chats)) {
                let channel = this.$pusher.subscribe(this.chatChannel.name + chat.id);

                for (let event of this.chatChannel.events) {
                    channel.bind(event.name, data => event.callback(data));
                }
            }
        },

        makeChatButtonUnread(data) {
            let button = this.getChatButton(data);

            if (!button) {
                return;
            }

            button.classList.remove('primary');
            button.classList.add('danger');
        },

        makeChatButtonRead(data) {
            let button = this.getChatButton(data);

            if (!button) {
                return;
            }

            button.classList.remove('danger');
            button.classList.add('primary');
        },

        getChatButton({chat = {id: 0}} = {}) {
            return document.getElementById(this.chatButtonSelector + chat.id);
        }
    }
}

</script>

<style scoped>

.mention-container {
    padding: 10px 40px 10px 10px;
    width: calc(100% + 30px);
    margin: 5px 0 5px 0;
    border-top: 1px solid #556ee6;
    max-height: 300px;
    overflow: auto;
}

.toggle {
    width: 40px;
    height: 20px;
    background-color: white;
    border: 1px solid #2A3042;
    border-radius: 3px;
}

.toggle .button {
    width: 50%;
    height: 100%;
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    float: left;
    background-color: #f46a6a;
    cursor: pointer;
    transition: 0.3s;
}

.toggle .button:checked {
    float: right;
    background-color: #34c38f;
}

</style>
