<template>
    <div class="button-wrapper">
        <indicator :csrf-token="csrfToken"
                   :user-id="activeUserId"/>
        <button class="btn ml-2"
                :class="{'btn-danger': !isOnline, 'btn-success': isOnline}"
                @click="buttonOnClick"
                :title="title">
            {{title}}
        </button>
    </div>
</template>

<script>

import OnlineCheckingMixin from "./OnlineCheckingMixin";
import RequestMixin from "./RequestMixin";
import OnlineStatusIndicator from "./OnlineStatusIndicator";

export default {
    mixins: [RequestMixin, OnlineCheckingMixin],

    components: {
        indicator: OnlineStatusIndicator,
    },

    data() {
        return {
            checkingUserId: this.activeUserId,
            apiRoutes: {
                transmitStatus: '/admin/user/transmit-online-status/',
            },
        };
    },

    computed: {
        transmitStatusAction: function() {
            return this.apiRoutes.transmitStatus + this.activeUserId;
        },
    },

    methods: {
        buttonOnClick(e) {
            e.preventDefault();
            e.stopImmediatePropagation();

            this.makeRequest(this.transmitStatusAction, {is_online: +!this.isOnline});
        },
    },

    props: {
        activeUserId: '',
        title: '',
    },
}

</script>

<style scoped>

.button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

</style>
